<%= render 'shared/nav', title: "Log in", back: false %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class='card mt-2 d-flex flex-column gap-1'>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'w-100 form-control' %>
    </div>

    <hr class="separator" />

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'w-100 form-control' %>
    </div>

    <hr class="separator" />

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions my-2">
      <%= f.submit "Log in", class: 'btn-primary w-100 p-2 text-bold' %>
    </div>

    <div class="d-flex flex-column align-items-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>

