<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Total Expense:</strong>
    $<%= restaurant.total_expense || 0.0 %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= restaurant.icon %>
  </p>

  <p>
    <strong>User:</strong>
    <%= restaurant.user_id %>
  </p>

</div>
