<%= render 'shared/nav', title: "Details", back: true %>

<div class="card d-flex flex-column gap-1 m-1">
  <div class="d-flex gap-1 align-items-center">
    <%= image_tag url_for(@restaurant.icon), width: 50, height: 50 %>
    <div class="d-flex justify-content-between align-items-center w-100">
      <h3><%= @restaurant.name %></h3>
      <%= link_to raw(image_tag image_url('pencil.svg')), edit_restaurant_path(@restaurant) %>
    </div>
  </div>

  <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <hr class="separator"/>

  <% @expenses.each do |expense| %>
    <%= render expense %>
  <% end %>

  <div class="d-flex justify-content-between">
    <p class="text-uppercase">Total payment</p>
    <p class="text-bold">$<%= @restaurant.total_expense %></p>
  </div>

</div>

<div class="bg-secondary fixed-bottom-center w-100">
  <%= link_to 'Add a new expense', new_expense_path, class: "green-button m-1" %>
</div>
